<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>		
		<meta charset="UTF-8">
		<title>Rocket - Aprovação Candidaturas</title>
		
		<!-- Adicionando JQuery -->
   		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        
        <!-- Campo Data -->    
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link src="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"></script>
		
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	
        <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    	<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>       
        
        <style type="text/css">
        	table.striped>tbody>tr:nth-child(odd) {
        		background-color: rgba(158, 154, 154, 0.5);
        	}
        	form input[type=submit] {
        		color: white;
        	}
        	table {
        		width: 100%;        		
        	}
        	table td, table th {
        		border: 1px solid gray; 
        	}
        	table th {
        		background: #eee;
        	}
        </style>
	</head>
	<body>
        <h3>Rocket RedeMob Consórcio - Consulta da Candidatura</h3><br />

        <a th:href="@{/index}"><span style="font-size: large; font-weight: 600">Voltar ao Menu Principal</span></a><br/><br/>
        <a th:href="@{/logout}"><span style="font-size: large; font-weight: 600">Sair do sistema</span></a><br/><br/>

        <span style="font-size: xx-large; font-weight: 600;" th:text="${'Olá, ' + candidato + '! Confira abaixo a situação das suas solicitações!'}"></span><br/><br/>

        <table class="striped">
            <thead>
                <tr>
                    <th>ID Solicitação</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tr th:each = "candidatura : ${candidaturas}">
                <td th:text = "${candidatura.id}"></td>
                <td
                    th:style="${candidatura.aprovacao ? 'background-color: green; font-weight: 900' : 'background-color: red; font-weight: 900'}"
                    th:text="${candidatura.aprovacao ? 'APROVADO' : 'REPROVADO'}">
                </td>
            </tr>
        </table>

        <!-- Adicionando Javascript -->
	    <script type="text/javascript" >
            $('#cpf').mask('000.000.000-00', {reverse: true});
	        $(document).ready(function() {
	        	$('#dataNascimento').datepicker({
	        		showOthermonths:true,
	        		format: 'yyyy-mm-dd'
	        	});
	        });
	    </script>
	</body>
</html>