<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Login - RedeMob Consórcio</title>
		
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    	<!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style type="text/css">
        	form input[type=submit] {
        		color: white;
        	}
        	form {
        		margin-left: 35%;
        		margin-top: 11%;
        	}
        	.col .row {
        		margin-right: 0rem;
        	}
        	input:-internal-autofill-selected {
        		background-color: red !important;
        		background-image: none !important;
        		color: -internal-light-dark-color(black, white) !important;
        	}
        </style>
	</head>
	
	<body>
		<form th:action="@{/login}" method="post" class="col s12">
			<h5>Acesso ao sistema</h5>
			<div class="row">
				<div class="input-field col s6">
					<label for="username" class="active">Login</label>
					<input type="text" name="username" id="username" class="validate" 
						style="border-radius: 12px; border-bottom: none"/>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<label for="password" class="active">Senha</label>
					<input type="password" id="password" name="password" class="validate" 
						style="border-radius: 12px; border-bottom: none"/>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<input name="logar" class="waves-effect waves-light btn" type="submit" value="Acessar"/>
				</div>
			</div>
            <a th:href="@{/index}"><span style="font-size: large; font-weight: 600">Voltar ao Menu Principal</span></a><br/><br/>
		</form>
	</body>
</html>